header {
    border-bottom-style: solid;
    border-bottom-color: #92a8d1;
    padding-top: 2%;
}

.navbar-brand {
    box-sizing: border-box;
}

#shyaboi {
    background-image: linear-gradient(-90deg, rgb(63, 82, 122), rgb(67, 116, 221));
    width: auto;
}

h1 {
    color: rgb(48, 136, 187);
    text-shadow: 0 0 3px black;
    font-family: 'Merienda', cursive;
}

a {

    font-size: xx-large;
}

/* .container-right-nav {
} */

#navtop {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

#mainboxnav {
    background-color: white;
    margin-top: 0;
    padding-top: 0;
    border-bottom-style: solid;
    border-bottom-color: #92a8d1;
    margin-bottom: 0;
    padding-bottom: 0;
}

#mainboxnav2 {
    background-color: white;
}

#mainbox {
    margin-top: 3%;
    padding-top: .5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 10%;
    background-color: white;
}

#mainbox2 {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(-90deg, rgb(67, 116, 221), rgb(63, 82, 122));
    padding-top: auto;
    margin-top: auto;
}

#bg {
    padding: 0;
    margin: 0;
}

#capbox1 {
    background-color: lightslategrey;
}

#gitHub {
    height: 10%;
    width: 10%;
}


#picbox2:hover .pictext2 {
    opacity: 90%;
    visibility: visible;
}

#picbox2 .pictext2 {
    left: 20%;
    visibility: hidden;
    width: 220px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

#picbox:hover .pictext {
    opacity: 90%;
    visibility: visible;
}

#picbox .pictext {
    left: 20%;
    visibility: hidden;
    width: 220px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}
#picbox3:hover .pictext3 {
    opacity: 90%;
    visibility: visible;
}

#picbox3 .pictext3 {
    left: 20%;
    visibility: hidden;
    width: 220px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}
#picbox4:hover .pictext4 {
    opacity: 80%;
    visibility: visible;
}

#picbox4 .pictext4 {
    left: 20%;
    visibility: hidden;
    width: 220px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}
#picbox5:hover .pictext5 {
    opacity: 90%;
    visibility: visible;
}

#picbox5 .pictext5 {
    left: 20%;
    visibility: hidden;
    width: 220px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}



.navbar-nav>li {
    line-height: 20%;
    border-right: .2px solid rgb(15, 94, 168);
    /* border-right-style: dotted; */
    /* border-right-style: hidden; */
    /* border-right-style: initial; */
    /* border-right-style: groove; */
    /* border-right-style: inset; */
}

footer {
    border-top-style: solid;
    border-top-width: 1%;
    border-top-color: #92a8d1;
    background-image: linear-gradient(-90deg, rgb(63, 82, 122), rgb(67, 116, 221));
    position: fixed;
    bottom: 0;
    padding: 0%;
    height: 4%;
    width: 100%;
    text-align: center;
    text-align-last: auto;
}